<h3 class='text-center'>
    You got {{correctTotal}} of {{questionTotal}} ({{percent}}%)
</h3>
<hr>
<h4>Leaderboards</h4>

{{#if submitted}}
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>1100</td>
 
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>5000.</td>
    
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>20000</td>
  
    </tr>
  </tbody>
</table>
{{else}}
<div class="row collapse">

	{{#if error}}
     	<span class="error">Please fill in the username</span>
    {{/if}}
    <div class="small-10 columns">
        <input type="text" placeholder="Username" class="username" required>
    </div>
    <div class="small-2 columns">
	    <a href="#" class="button postfix submit">Go</a>
    </div>

</div>

{{/if}}

<a class="reset button wide alert">Reset</a>               