<h3 class='text-center'>
    You got {{correctTotal}} of {{questionTotal}} ({{percent}}%)
</h3>
<hr>

{{#if submitted}}
<h4>Leaderboards for {{category}}</h4>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Score</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    
   {{#each leaderboards}}
   		<tr>
   			<td>{{this.username}}</td>
   			<td>{{this.score}}</td>
        <td>{{this.time_added}}</td>
   		</tr>
   {{/each}}

  </tbody>
   
</table>

{{else}}
<div class="row collapse">

    {{#if error}}
        <span class="error">Please fill in the username</span>
    {{/if}}
    <div class="small-10 columns">
        <input type="text" placeholder="Username" class="username" required value="{{#if user}}{{user}}{{/if}}">
    </div>
    <div class="small-2 columns">
	     <a href="#" class="button postfix submit">Go</a>
    </div>

</div>

{{/if}}

<a class="reset button wide alert">Reset</a>               