<div class="clearfix">
    <h3 class='text-center'>
        Question {{questionPos}} of {{questionTotal}}
    </h3>
    <hr>

    <h3>{{question}}?</h3>

    <ul class='small-block-grid-1 options'>

        {{#each this.options}}

            <li class='option'>
                <label>
                    <input 
                    class="answer" 
                    type="radio"
                    name="option"
                    data-option="{{this.name}}"
                    data-correct="{{this.correct}}"
                    {{#isCorrect this.name}}
                        checked 
                    {{/isCorrect}}
                    >
                    {{this.name}}
                </label>
            </li>
            
        {{/each}}
    </ul>
    {{#notFirst questionPos}}
    <a class="alert button back left">Back</a>
    {{/notFirst}}

    {{#notLast questionPos}}
    <a class="success button next right">Next</a>
    {{/notLast}}

    {{#isCompleted questionPos}}
    <a class="success button next right">Submit</a>
    {{/isCompleted}}

</div>