<div class="animated fadeIn">
    <h3 class='text-center animated fadeIn'>
        Question {{questionPos}} of {{questionTotal}}
    </h3>
    <hr>

    <h3>{{category}}: {{question}}?</h3>

    <ul class='small-block-grid-2 options'>

        {{#each this.options}}
            <li class='option'>
                <a class="next button radius"
                    data-option="{{this.name}}"
                    data-correct="{{this.correct}}">
                        {{this.name}}
                </a>
            </li>
        {{/each}}
    </ul>
    <a href="#" class="alert button">Back</a>
</div>