<div class="animated fadeIn clearfix">
    <h3 class='text-center animated fadeIn'>
        Question {{questionPos}} of {{questionTotal}}
    </h3>
    <hr>

    <h3>{{question}}?</h3>

    <ul class='small-block-grid-1 options'>

        {{#each this.options}}

            <li class='option'>
            

                <label>
                    <input 
                    class="answer" 
                    type="radio"
                    name="option"
                    data-option="{{this.name}}"
                    data-correct="{{this.correct}}"
                    {{#if this.answered}}
                        checked 
                    {{/if}}
                    >
                    {{this.name}}
                </label>
                

            </li>
        {{/each}}
    </ul>
    {{#notFirst questionPos}}
    <a class="alert button back left">Back</a>
    {{/notFirst}}

   
</div>